@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Wallpoet&display=swap');

html, body {
    margin: 0;
}

html, body { height: 100%; }

:root {
    --primary: #0e0025;
    --secondary: #d56a00;
    --text1: whitesmoke;
    --icons: aliceblue;
    --font1: "Wallpoet", sans-serif;
    --font2: "Andika", sans-serif;
    --popBg: rgba( 14, 0, 37, 0.25 );
    --boxShadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
    --bckFiltr: blur(7px);
    --darkerText: rgb(143, 142, 142);
    --placeColor: rgb(67 66 66);
    --darkIconBack: #35323ba8;
    --fluro1: #00ffec;
    --fluor4: #fffb00;
}

body {
    background-color: var(--primary);
    height: 100vh;
}

.fx-rw {
    display: flex;
    flex-direction: row;
}

.fx-cm {
    display: flex;
    flex-direction: column;
}

.fx-ctr {
    align-items: center;
    place-content: center;
}

.fx-wp {
    flex-wrap: wrap;
}

.w-100 {
    width: 100vw;
}

.w-80 {
    width: 80vw;
}

.w-90 {
    width: 90vw;
}

.g_4 {
    gap: 0.4em;
}

.g1 {
    gap: 1em;
}

.g2 {
    gap: 2em;
}


// Keyframes

@keyframes breathe {
    0%,100% {
        filter: drop-shadow(0 0 1px var(--secondary));
    }
    50% {
        filter: drop-shadow(0 0 16px var(--secondary));
    }
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
